/* Reset */
body, div, img, form, label, select, option, a, h1, h2, p, fieldset, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font: inherit;
}

/* Custom defaults */
img[src=''] {
    visibility: hidden;
}
body {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, .more-info {
    font-weight: normal;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

/* Header */
.title {
    background: black;
    color: white;
    padding: .3em;
    font-size: 3.5em;
}
.title img {
    display: inline-block;
    margin-right: .2em;
    vertical-align: middle;
}

/* Demo area */
.notebook {
    margin-bottom: 1em;
    padding-top: 65px;
    background: transparent url('spiral.jpg') repeat-x left top;
}
.intro {
    overflow: hidden;
    margin: .5em;
    padding: .3em .5em;
    font-size: 1.7em;
    line-height: 1.5em;
    color: white;
    background: gray;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em; 
    border-radius: .5em;
}
.intro p {
    font-size: .8em;
}
.intro a {
    color: white;
}

/* Demo area controls */
.toolbar {
    float: right;
    padding: .3em 0;
}
.button {
    display: inline-block;
    margin-left: .5em;
    padding: .3em;
    vertical-align: middle;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.button img {
    display: block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}
#select-language {
    font-size: .7em;
}
#textarea {
    margin-top: 2em;
}

/* JavaScript detection */
.no-js #textarea, .no-js .toolbar {
    display: none;
}
.no-js .notice {
    display: block;
}
.notice {                                   
    display: none;
    text-align: center;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
}
.notice:before {
    content: "!"; 
    display: inline-block;
    width: 1.2em;
    margin-right: .3em;
    text-align: center;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    color: gray;
    opacity: .7;
    border: 3px solid gray;
    -moz-border-radius: 1.2em;
    -webkit-border-radius: 1.2em;
    border-radius: 1.2em;
}
.notice span {
    text-decoration: underline;
}

/* Single-word container */
.image-card {
    display: inline-block;
    margin-bottom: 2em;
    padding: 0 .5em;
    text-align: center;
    font-size: 2em;
    line-height: 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.frame {
    min-height: 5em;
    min-width: 5em;
}
.picto {
    width: auto;
    height: 5em;
    line-height: 0;
}
.caption {
    margin: auto;
    line-height: 1.5em;
    font-weight: 300;
    color: rgb(110, 110, 110);
}

/* Responsive design */
@media only screen and (max-width: 639px) {
  body {font-size: 80%}
}
@media only screen and (min-width: 640px) and (max-width: 959px) {
  body {font-size: 90%}
}
@media only screen and (min-width: 800px) {
  .intro p {
      width: 65%;
      display: inline-block;
  }
  .no-js .intro p {
      width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  body {font-size: 110%}
}
@media only screen and (min-width: 1400px) {
  body {font-size: 120%}
}
@media only screen and (min-width: 1600px) {
  body {font-size: 130%}
}
@media only screen and (min-width: 1800px) {
  body {font-size: 140%}
}
@media only screen and (min-width: 2000px) {
  body {font-size: 150%}
}
@media only screen and (min-width: 2200px) {
  body {font-size: 160%}
}
@media only screen and (min-width: 2400px) {
  body {font-size: 170%}
}
@media only screen and (min-width: 2600px) {
  body {font-size: 180%}
}
@media only screen and (min-width: 2800px) {
  body {font-size: 190%}
}
@media only screen and (min-width: 3000px) {
  body {font-size: 200%}
}