.intro, .cover.reveal, .forkme, .top-bar, .multiple:before, .multiple:after, #directions, #footer {
    display: none;
}
body, .notebook {
    background: none;
}
.multiple: {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
